@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Poppins;
}

/* themes */
.def-light {
  --main: #001434;
}

.maple-bear-light {
  --main: #CC1316;
}

.adelia-costa-light {
  --main: #DCAD3A;
}

.sb-light {
  --main: #0C3C69;
}

.educare-light {
  --main: #5D0000;
}

.beka-light {
  --main: #0B4F6D;
}

.cincinatti-light {
  --main: #C40521;
}

.st-mary-light {
  --main: #163B89;
}

.bg-main {
  background-color: var(--main) !important;
}

.text-main {
  color: var(--main) !important;
}

@media screen and (max-width: 393px)  {
  .maple-bear-logo-box {
    width: 100%;
  }
}

@media screen and (max-width: 443px)  {
  .maple-bear-logo-box {
    width: 393px;
  }
}